.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 48rem;
  margin: 0 auto;
  overflow: auto;
}

.icon {
  width: 3rem;
}

.list {
  list-style-type: none;
  padding: 0 2rem;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.listItem span {
  display: block;
  margin-left: 1.5rem;
}

.button {
  align-self: flex-end;
  background-color: transparent;
  padding: 1rem;
  margin-right: 2rem;
  border: 2px solid;
  border-color: #62d9c7;

  border-radius: 10px;
  font-size: 1.25rem;
  font-family: "Mulish", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 24rem;
}

.button:hover {
  cursor: pointer;
  background-color: #7cf3e1;
  color: #111111;
}

.button:hover .arrowIcon,
.button:hover span {
  display: none;
}

.button .birdIcon {
  display: none;
}

.button:hover .birdIcon {
  display: block;
}

.button .birdIcon,
.button .arrowIcon {
  width: 2rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 784px) {
  .listItem svg {
    flex-basis: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .list {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .button {
    align-self: center;
    margin: 0 1rem;
    min-width: unset;
  }
}
